name: Java CI Gradle

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: plate_user
          POSTGRES_PASSWORD: plate_pass
          POSTGRES_DB: plate_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U plate_user -d plate_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name :  Gradlew build
        run : ./gradlew build

      - name: Docker build
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/grpcgit-actions .

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PW }}

      - name: Docker push
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/grpcgit-actions